# Verification

## Verification and Validation
QA and manual testing on edge cases still posing a very important role in the development lifecycle. 

Unfortunately, that this framework couldn't fully automate the QA to find all the edge cases, and it is still a challenge to find a way to automate the QA process. 